<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rezervasyon.Properties.Settings.rezervasyonConnectionString"
            connectionString="Data Source=LAPTOP-LJC49TVP\SQLEXPRESS;Initial Catalog=deneme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="rezervasyon.Properties.Settings.rezervasyonConnectionString1"
            connectionString="Data Source=LAPTOP-LJC49TVP\SQLEXPRESS;Initial Catalog=rezervasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>